body{
  background-color: #333;
}

#container{
  background-color: #333;
  position: absolute;
  left: 50px;
  height: 100vh;
  width: 90vw;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
}

#plotHolder{
  position: absolute;
  left: 0px;
  top: 60px;
  height: 775px;
  width: 600px;
  min-width: 400px;
  min-height: 500px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
#windstaff{
  position: absolute;
  left: 535px;
  top: 128px;
  height: 644px;
  width: 100px;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
}
#hodograph{
  position: absolute;
  left: 610px;
  top: 60px;
  height: 450px;
  width: 450px;
  min-width: 150px;
  min-height: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#plot2{
  position: absolute;
  left: 560px;
  top: 455px;
  height: 400px;
  width: 350px;
  min-width: 150px;
  min-height: 200px;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
  color: white;
  font-size: 11px;
}
#textarea{
  position: absolute;
  left: 1070px;
  top: 60px;
  height: 755px;
  width: 250px;
  min-width: 200px;
  min-height: 500px;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
  color: white;
  font-size: 12px;
}
#select_sounding_button{
  position: absolute;
  z-index: 10;
  left:0px;
  top:30px;
  height:30px;
  width: 150px;
  color: white;
  background-color: rgba(80,78,78,0.9);
}

#select_forecast_button{
  position: absolute;
  z-index: 10;
  left:150px;
  top:30px;
  height:30px;
  width: 150px;
  color: white;
  background-color: rgba(80,78,78,0.9);
}

#mapholder{
  position: absolute;
  top: 520px;
  left: 610px;
  height: 318px;
  width: 450px;
  z-index: 10;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  /* display: none; */
}

#title{
  position: absolute;
  top: 30px;
  left: 610px;
  color: white;
}

#disclaimer{
  color: white;
}

.wind-arrow {
  stroke: black;
}
