<!DOCTYPE html>

<html lang="en">

<head>

  {% block content %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<meta http-equiv="refresh" content="300" >-->

  <title>Soundings</title>

  {% load static %}
  <!-- non-local scripts -->
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
  <!-- Non-Template sytles and JS links -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet-src.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- local scripts -->
  <script type="text/javascript" src="{% static '/javascript/Leaflet.windbarb-master/src/leaflet-windbarb.js' %}"></script>
  <script type="text/javascript" src="{% static '/javascript/plotly-2.4.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/javascript/skewt.js' %}"></script>
  <link href="{% static '/javascript/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/skewt.css' %}">

</head>

<body>

  <div id="container">
    <p id="disclaimer">Notice: This site is not supported 24/7 and remains under active development. Email wxwatchercontact@gmail.com for questions/bug reports.</p>
    <button id="select_sounding_button" onclick="displayObservedMap()">Observed</button>
    <button id="select_forecast_button" onclick="displayForecastMap()">RAP</button>
    <h4 id="title">No Sounding Selected</h4>
    <div id="mapholder"></div>
    <div id="forcmapholder"></div>
    <div id="plotHolder"></div>
    <div id="windstaff"></div>
    <div id="hodograph">
    </div>
    <div id="plot2">
    </div> <!-- End of plot2 div -->
    <div id="textarea">
      <table style="width:100%">
        <tr>
          <th >Thermodynamics</th>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
          <td></td>
          <td>CAPE</td>
          <td>CIN</td>
        </tr>
        <tr>
          <td style="width:15%">Surface</td>
          <td id="sbcape"> J/kg</td>
          <td id="sbcin"> J/kg</td>
        </tr>
        <tr style="">
          <td style="width:15%">Mixed</td>
          <td id="mlcape"> J/kg</td>
          <td id="mlcin"> J/kg</td>
        </tr>
        <tr>
          <td style="width:45%">Most-Unstable</td>
          <td id="mucape"> J/kg</td>
          <td id="mucin"> J/kg</td>
        </tr>
      </table>
      <br>
      <table style="width:100%">
        <tr>
          <td>0-3 km Lapse Rate</td>
          <td id="lr03">K/km</td>
        </tr>
        <tr>
          <td>700-500 mb Lapse Rate</td>
          <td id="lr75"> K/km</td>
        </tr>
        <tr>
          <td>Dewpoint Depression</td>
          <td id="ddpres"> F</td>
        </tr>
        <tr>
          <td>Lowest 100 mb Mean Mixing Ratio</td>
          <td id="meanmix"> g/kg</td>
        </tr>
        <tr>
          <td>Precipitable Water</td>
          <td id="pwat"> in.</td>
        </tr>
      </table>
      <br>
      <table style="width:100%">
        <tr>
          <th>Kinematics</th>
        </tr>
        <tr>
          <td></td>
          <td>Bulk Shear</td>
          <td>SRH</td>
        </tr>
        <tr>
          <td>0-1 km</td>
          <td id="bs01">knots</td>
          <td id="srh01"> m2/s2</td>
        </tr>
        <tr>
          <td>0-3 km</td>
          <td id="bs03"> knots</td>
          <td id="srh03"> m2/s2</td>
        </tr>
        <tr>
          <td>0-6 km</td>
          <td id="bs06"> knots</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Effective</td>
          <td id="bseff"> knots</td>
          <td id="srheff"> m2/s2</td>
        </tr>
      </table>
      <br />
      <table style="width:100%">
        <tr>
          <th>Derived</th>
        </tr>
        <tr>
          <td style="width:15%">SCP</td>
          <td style="width:15%">STP</td>
          <td>WMP</td>
        </tr>
        <tr>
          <td id="scp" style="width:15%"></td>
          <td id="stp" style="width:15%"></td>
          <td id="wmp"></td>
        </tr>
      </table>
      <br />
      <table>
        <tr>
          <th>Son of SARS</th>
        </tr>
      </table>
      <table>
        <tr>
          <td style="width:20%">Rating:</td>
          <td style="width:20%">No Tor</td>
          <td style="width:7%">0</td>
          <td style="width:7%">1</td>
          <td style="width:7%">2</td>
          <td style="width:7%">3</td>
          <td style="width:7%">4</td>
          <td style="width:7%">5</td>
        </tr>
        <tr>
          <td>Prob (%):</td>
          <td id="sosnotor"></td>
          <td id="sos0"></td>
          <td id="sos1"></td>
          <td id="sos2"></td>
          <td id="sos3"></td>
          <td id="sos4"></td>
          <td id="sos5"></td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
          <td>Any Hail (N.N.):</td>
          <td id="anyhail_nn">%</td>
          <td>Any Hail (R.F.):</td>
          <td id="anyhail_rf"></td>
        </tr>
        <tr>
          <td>1"+ Hail (N.N.):</td>
          <td id="svrhail_nn">%</td>
          <td>1"+ Hail (R.F.):</td>
          <td id="svrhail_rf"></td>
        </tr>
        <tr>
          <td>2"+ Hail (N.N.):</td>
          <td id="sighail_nn">%</td>
          <td>2"+ Hail (R.F.):</td>
          <td id="sighail_rf"></td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
          <td>P-type Best Guess (N.N.): </td>
          <td id="ptype_nn"></td>
        </tr>
        <tr>
          <td>P-type Best Guess (R.F.): </td>
          <td id="ptype_rf"></td>
        </tr>
      </table>
    </div> <!-- End of text area -->
  </div> <!-- end of contianer div -->

  <script>
    // Define the event listener array
    var plot_station = null;
    var plot_type = "Observed";
    var index = 0;
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    // sounding selection map
    var map = L.map(
        "mapholder",
        {
            center: [40.0, -100.0],
            crs: L.CRS.EPSG3857,
            zoom: 5,
            zoomControl: true,
            cursor: true,
            preferCanvas: true,
            renderer: L.canvas(),
            keyboard: false,
            updateWhenIdle: true,
            updateWhenZooming: false,
        }
    );
    var osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
    ).addTo(map);
    var obs_location_markers = new L.featureGroup();
    var forc_location_markers = new L.featureGroup();
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    // Forecast selection map
    var forcmap = L.map(
        "forcmapholder",
        {
            center: [40.0, -100.0],
            crs: L.CRS.EPSG3857,
            zoom: 5,
            zoomControl: true,
            cursor: true,
            preferCanvas: true,
            renderer: L.canvas(),
            keyboard: false,
            updateWhenIdle: true,
            updateWhenZooming: false,
        }
    );
    var osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
    ).addTo(forcmap);
    var location_markers = new L.featureGroup();
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    function add_observed_markers(){
      var url = "{% static '/data/soundings/sounding_locations.json' %}";
      obs_location_markers.clearLayers();
      map.removeLayer(obs_location_markers);
      $.ajax({
      dataType: "json",
      url: url,
      success: function(data) {
          $.each(data, function(key,info){
            let lat = info[0];
            let lon = info[1];
            var marker = new L.circleMarker([lat, lon], { radius: 9, color: "black", weight: 2, opacity: 1.0, fillColor: "blue", fillOpacity: 0.4 }); //opacity may be set to zero
            marker.on('click',function(){
                console.log(`Selected site: ${key} Observed`);
                displayObservedMap();
                updateStation(key);
                updateSoundingType("Observed");
                plot_sounding_from_json();
            });
            marker.addTo(obs_location_markers);
          });
      }
      }).fail(function() {
        console.log("Error updating locations.");
      });
      obs_location_markers.addTo(map);
    } // end add_markers
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    function add_forecast_markers(){
      var url = "{% static '/data/soundings/sounding_locations.json' %}";
      forc_location_markers.clearLayers();
      forcmap.removeLayer(forc_location_markers);
      $.ajax({
      dataType: "json",
      url: url,
      success: function(data) {
          $.each(data, function(key,info){
            let lat = info[0];
            let lon = info[1];
            var marker = new L.circleMarker([lat, lon], { radius: 9, color: "black", weight: 2, opacity: 1.0, fillColor: "red", fillOpacity: 0.4 }); //opacity may be set to zero
            marker.on('click',function(){
                console.log(`Selected site: ${key} Forecast`);
                displayForecastMap();
                updateStation(key);
                updateSoundingType("Forecast");
                globalThis.index = 0;
                plot_sounding_from_json();
            });
            marker.addTo(forc_location_markers);
          });
      }
      }).fail(function() {
        console.log("Error updating locations.");
      });
      forc_location_markers.addTo(forcmap);
    } // end add_markers
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    function displayObservedMap(){
      var mapcontainer = document.getElementById("mapholder");
      if (mapcontainer.style.display == "flex"){
        mapcontainer.style.display = "none";
      } else {
        // close the forecast map if needed.
        document.getElementById("forcmapholder").style.display = "none";
        // open the observed map
        mapcontainer.style.display = "flex";
        map.invalidateSize();
      } // end else
    } // end function
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    function displayForecastMap(){
      var forcmapcontainer = document.getElementById("forcmapholder");
      if (forcmapcontainer.style.display == "flex"){
        forcmapcontainer.style.display = "none";
      } else {
        // close the observed map if needed.
        document.getElementById("mapholder").style.display = "none";
        // open the forecast map
        forcmapcontainer.style.display = "flex";
        forcmap.invalidateSize();
      } // end else
    } // end function
    //////////////////////////////////////////////////////////////////////////////////////////////////////
    function get_tor_events(tor_events_url){
      // get the tornado event data
      var capes = [];
      var shears = [];
      var ratings = [];
      var colors = [];
      $.getJSON(tor_events_url, function(data){
        Object.entries(data).forEach(function(event){
          ratings.push(event[1][0]);
          shears.push(event[1][5]);
          capes.push(event[1][6]);
          if (event[1][0] == 5){
            colors.push('rgba(250,26,254,0.75)');
          } else if (event[1][0] == 4){
            colors.push('rgba(254,36,26,0.75)');
          } else if (event[1][0] == 3){
            colors.push('rgba(254,50,26,0.5)');
          } else if (event[1][0] == 2){
            colors.push('rgba(26,43,254,0.4)');
          } else if (event[1][0] == 1){
            colors.push('rgba(104,249,209,0.3)');
          } else {
            colors.push('rgba(209,207,20,0.2)');
          }
        });
      }) // end getJSON
      var tor_events_data = [capes, shears, colors, ratings];
      return tor_events_data;
    }
    //////////////////////////////////////////////////////////////////////////////////////////////////////
    function plot_sounding_from_json(){
      // I know this is bad practice, but this utlizes the global variables
      // plot_station, plot_type, and index.
      var station = plot_station;
      var type = plot_type;
      if (station == null){
          plotSkewt(station,tor_events_data);
      } else {
        if (type == "Forecast"){
          var url = `/static/data/soundings/forecast_soundings/${station}_${index}.json`;
          //var url = "{% static '/soundings/forecast_soundings/OUN_12.json' %}";
        } else {
          var url = `/static/data/soundings/observed_soundings/${station}.json`;
          //var url = "{% static '/soundings/observed_soundings/OUN.json' %}";
        }
        console.log(url);
        $.getJSON(url, function(data){
          plotSkewt(data,tor_events_data);
          add_sounding_text(data);
          wind_staff(data);
          if (type == "Forecast"){
            var name = data.stid;
            var date = data.forecast_time;
            var display_type = `${data.model_run_hour}Z RAP f${data.forecast_hour}`;
          } else {
            var name = data.id;
            var date = data.datetime;
            var display_type = "Observed";
          }
          update_title(name,date,display_type);
        }) // end getJSON
        .fail(function(){ alert(`Sounding not available for ${station}.`)});
      } // end else
    } // end read sounding
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    var tor_events_url = "{% static '/data/tor_events.json' %}";
    var tor_events_data = get_tor_events(tor_events_url);
    plot_sounding_from_json(null,"None");
    add_observed_markers();
    add_forecast_markers();
    initializeArrowKeys();
    var obsmapcontainer = document.getElementById("mapholder");
    var forcmapcontainer = document.getElementById("forcmapholder");
    obsmapcontainer.style.display = "none";
    forcmapcontainer.style.display = "none";
  </script>
  <!-- vendor/bootstrap/js/bootstrap.bundle.min.js -->
  <script src="{% static '/javascript/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
</body>

</html>
